IPython==8.37.0
matplotlib==3.10.5
numpy==2.2.6
pandas==2.3.3
# pathlib  # not installed or standard library
# platform  # not installed or standard library
# re  # not installed or standard library
scikit-learn==1.7.2
# warnings  # not installed or standard library